@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/**/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.header{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0px 400px;
}
.header .top{
  font-weight: 200px;
  color:  hsl(229, 6%, 66%) ;
}
.header p{
  color:  hsl(229, 6%, 66%) ;
}
.container{
  width:100%;
  max-width: 1250px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px;
  justify-content: center;
  gap:10px;
  grid-auto-flow:column;
  margin-top: 20px;
  margin-left: 30px;
}

.box{
  text-align: center;
  align-items: center;
  width:300px;
  height: 200px;
  box-shadow: 10px 10px 25px 8px grey;
  border-radius: 5px;
  text-align: left;
}

.one{
 background-color: hsl(0, 0%, 98%);
 grid-row-start: span 2;
 align-self: center;
 border-top:3px solid hsl(180, 62%, 55%);
 box-shadow: 20px 20px 50px 15px grey;
}

.two{
  background-color: hsl(0, 0%, 98%);
  align-self: center;
  border-top:3px solid hsl(0, 78%, 62%);
  box-shadow: 20px 20px 50px 15px grey;
}
.two img ,.one img,.three img,.four img{
 width:50px;
 display:block;
 margin-left: auto;
 margin-top: 30px;
 margin-right: 20px;
}
.three{
  background-color: hsl(0, 0%, 98%);
  align-self: center;
/*grid-row-start: span 2;*/
border-top:3px solid  hsl(34, 97%, 64%);
box-shadow: 20px 20px 50px 15px grey;
}
.four{
  background-color: hsl(0, 0%, 98%);
  align-self: center;
  grid-row-start: span 2;
  border-top:3px solid hsl(212, 86%, 64%);
  box-shadow: 20px 20px 50px 15px grey;
}

.container h3,.container p{
  padding-left: 20px;
  padding-top: 10px;
}
.box p{
  color:  hsl(229, 6%, 66%) ;
  font-weight: 600px;
}
footer{
  text-align: center;
}
